/*RESET CSSS*/
*{
    box-sizing: border-box;
}

:root {
    --primary: #393148;
    --secondary: #09001B;
    --action: #A683FB;
  }
@font-face {
    font-family: 'PP Neue Montreal Book';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Book'), 
    url('../fonts/ppneuemontreal-book.woff') format('woff');
    }

    @font-face {
        font-family: 'PP Neue Montreal Medium';
        font-style: normal;
        font-weight: normal;
        src: local('PP Neue Montreal Medium'), 
        url('../fonts/ppneuemontreal-medium.woff') format('woff');
    }
        
    @font-face {
    font-family: 'PP Neue Montreal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Bold'), url('../fonts/ppneuemontreal-bold.woff') format('woff');
    }

body{
    margin: 0;
    padding: 0;
    font-family: 'PP Neue Montreal Book';
}
body:has(.nav_sec.visible){
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6, p, ul, li , a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    max-width: 1280px;
    @media(max-width:1200px){
        padding: 0 30px;
        @media(max-width:767px){
            padding: 0 20px;
        }
    }
}
.cs_header{
    position: absolute;
    top:28px;
    left:0;
    width: 100%;
}
.inner_header{
    background:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    padding:15px 33px;
}
.hamburger{
    border:none;
    background: transparent;
    width:40px;
    display: inline-flex;
    flex-direction: column;
    gap:8px;
    display:none;
    @media (max-width:767px){
        display:inline-flex;
    }
}
.hamburger span{
    display: inline-flex;
    height:2px;
    width:100%;
    background: var(--secondary);
}
.mobile_header{
        display:none;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        @media (max-width:767px){
            display:flex;
        }
    }
    .mobile_header .hamburger svg{
        width: 24px;
        height: 24px;
    }
.nav_sec{
    display: flex;
    align-items: center;
    @media (max-width:767px){
        position: fixed;
        left: 100%;
        background: #fff;
        width:100%;
        height: 100%;
        top: 0;
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;
        padding:50px 30px;
        transition:0.2s ease-in-out;
        opacity:0;
        visibility:hidden;
    }
}
.nav_sec.visible{
    display:block;
    left:0;
    opacity:1;
    visibility:visible;
}
.nav_sec ul{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    padding-right: 40px;
    @media (max-width:767px){
        flex-direction:column;
        align-items:flex-start;
        padding-bottom:35px;
    }
}
.nav_sec ul li a{
    font-size: 16px;
    color:#393148;
    transition: 0.2s ease-in-out;
}
.nav_sec ul li:last-child{
    display: none;
    @media (max-width:767px){
        display:flex;
    }
}
.nav_sec ul li a:hover{
    color:var(--action);
}
.nav_sec .primary_btn{
    @media (max-width:767px){
        display:none;
    }
}


.hero_sec{
    background:url("../images/hero_sec.jpg") no-repeat;
    width: 100%;
    padding-bottom: 110px;
    background-size: 100%;
    background-position: top;
    padding-top: 156px;
    @media (max-width:1199px){
        background-size:cover;
    }
    @media (max-width:991px){
        background-size:cover;
        padding-top: 190px;
        padding-bottom: 70px;
        @media (max-width:767px){
            padding-bottom:40px;
        }
    }
}

.hero_sec .content_blk{
    text-align: center;
    margin-bottom: 45px;
}
.hero_sec .content_blk h1{
    max-width: 915px;
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 110%;
    text-align: center;
    color:var(--secondary);
    margin-bottom: 17px;
    font-family: 'PP Neue Montreal Medium';
    @media (max-width:991px){
        font-size:64px;
        max-width:700px;
        @media (max-width:599px){
            font-size:44px; 
        }

    }

}
.hero_sec .content_blk .blue-text{
    color:var(--action);
    position: relative;
}
.hero_sec .content_blk .blue-text::after{
   position: absolute;
   content: "";
   width:100%;
   height:21px;
   bottom: -14px;
   left:0;
   background: url(../images/text_bg.png) no-repeat;
   background-size: 100%;
}

.hero_sec .content_blk p{
max-width: 585px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color:var(--secondary);
margin: auto;
}
.hero_sec .row{
    @media (max-width:767px){
        display:none;
    }
}
.hero_sec .row .col-md-6:last-child{
    @media (max-width:991px){
        display:none;
    }
}
.hero_sec .content_blk .btn_wrap{
   display: flex;
   justify-content: center;
   padding-top: 18px;
}
.see_help{
    margin-bottom: 54px;
    margin-top: 27px;
}
.see_help p{
    background: #FFFFFF;
    max-width: 280px;
    border-radius: 200px;
    padding:15px 15px 15px 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    font-family: 'PP Neue Montreal Medium';
}
.see_help p:before{
    background:#009CF0;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    display: inline-block;
    content: "";
    position: absolute;
    left:23px;
    top:21px;
}
.mvp_sec{
     background:#009CF0;
     border-radius:20px;
     padding:26px 13px 13px 26px;
}
.mvp_sec .content_ui{
    max-width: 180px;
}

.mvp_sec .content_ui label{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 9px;
    font-family: 'PP Neue Montreal Medium';
}

.mvp_sec .content_ui p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.mvp_sec .img_sec{
    flex-direction: row-reverse;
    display: flex;
    align-items: flex-end;
    gap:10px;
    margin-top: -94px;
    @media   (min-width:768px) and (max-width:1199px){
        margin-top:0px; 
    }
}

.advisory_sec{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 23px 18px 18px 30px;
}
.advisory_sec label{
    width: 180px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #09001B;
    margin-bottom:9px;
    font-family: 'PP Neue Montreal Medium';
}
.advisory_sec .desc{
    width: 236px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #393148;
}
.advisory_list{
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}
.advisory_list .user_icon{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    margin-right:-10px;
}
.advisory_list .user_icon:last-child{
    margin-right: 0;
}
.advisory_list .user_icon img{
    width:100%;
    height:100%;
}

.businessplan_sec{
    background: #A4D8F4;
    border-radius: 20px;
    padding: 25px 30px;
}
.businessplan_sec .title_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.businessplan_sec .title_wrap p{
    padding-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color:var(--secondary);
    font-family: 'PP Neue Montreal Medium';
}
.businessplan_sec .desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary);
}
.space_between{
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;
        height: 100%;
}

.funding_sec{
    background:#00225B;
    padding: 34px 30px 0;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.funding_sec .title_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.funding_sec .title_wrap p{
    padding-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color:#fff;
    font-family: 'PP Neue Montreal Medium';
}
.funding_sec .desc{
    max-width: 269px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}





.primary_btn{
    display: flex;
    align-items: center;
    padding: 9px 8px 9px 30px;
    font-family: 'PP Neue Montreal Medium';
    font-size: 14px;
    border: none;
    border-radius: 44px;
    transition: 0.2s ease-in-out;
}
.primary_btn:hover{
    opacity:0.9;
}
.primary_btn:hover .icon{
    transform: scale(1.1);
}
.primary_btn:hover .icon svg{
    transform: scale(1.2); 
}
.primary_btn.white_bg{
        background: #F8F7F3;
        transition: 0.2s ease-in-out;
}
.primary_btn.black_bg{
    background: #100F19;
    color:#fff;
    transition: 0.2s ease-in-out;
}
.primary_btn.black_bg .icon{
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    transition: 0.2s ease-in-out;
}
.primary_btn.black_bg .icon svg path{
    fill: #09001B;
    transition: 0.2s ease-in-out;
}
.primary_btn.white_bg .icon{
    background: #100F19;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    transition: 0.2s ease-in-out;
}


/* about sec */

.about_sec{
    background: #fff;
    padding: 110px 0;
    @media (max-width:991px){
        padding:70px 0;
    }
}
.about_sec .row{
    @media (max-width:767px){
        flex-direction:column-reverse;
        .about_content_wrapper{
            margin-top:40px;
        }
    }
}
.about_content_wrapper h3{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color:var(--secondary);
    margin-bottom: 11px;
    font-family: 'PP Neue Montreal Medium';
    @media (max-width:767px){
        font-size: 40px; 
    }
}
.about_content_wrapper .desc{
    max-width: 489px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:var(--primary);
    margin-bottom: 12px;
    @media (max-width:767px){
        max-width:100%;
    }
}
.about_content_wrapper .btn_wrap{
    padding-top: 12px;
    display:inline-flex;
}
.about_image_wrapper{
    padding-left: 40px;
}   
.about_image_wrapper img{
    width:100%;
}



/* road_map css stat here */
.roadmap_wrapper .main_title{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    color: #09001B;
    max-width: 573px;
    margin: auto;
    margin-bottom: 77px;
    font-family: 'PP Neue Montreal Medium';
    @media (max-width:599px){
        font-size: 40px; 
    }
}
.roadmap_sec{
    padding:77px 0 105px;
    position: relative;
    @media (max-width:767px){
        padding:77px 0 50px;
        .row{
            /* flex-direction:column-reverse; */
            .image_sm{
                display:none;
            }
        }
    }
}
.roadmap_sec:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  left:0;
  top:0;
  right:0;
  margin: auto;
  background: url(../images/line_bg.png) no-repeat;
  @media (max-width:767px){
    display:none;
  }
}
.roadmap_sec .spin_icon{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    width: 38px;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
    @media (max-width:767px){
        display:none;
    }
}

.roadmap_one{
    background:#DBECFE;
}
.roadmap_sec.roadmap_one:after{
    top:29%;
}
.roadmap_one .image_block_wrapper .image_sm{
	background: #DBECFE;
}
.roadmap_two .image_block_wrapper .image_sm{
	background: #e7e2f0;
}
.roadmap_three .image_block_wrapper .image_sm{
	background: #FAF2E8;
}
.roadmap_two{
    background:#e7e2f0;
}
.roadmap_three{
    background:#FAF2E8;
}
.image_block_wrapper .image_lg{
    padding-right: 60px;
    @media (max-width:767px){
        padding-right:0;
        margin-bottom:24px;
    }
}
.image_block_wrapper .image_lg img{
    aspect-ratio: 523/396;
    max-width:523px;
    border-radius:20px;
    width:100%;
    @media (max-width:767px){
        max-width:100%;
    }
}
.image_block_wrapper .image_sm {
	aspect-ratio: 286/191;
	max-width: 300px;
	margin-left: auto;
	margin-top: -59px;
	padding: 14px;
	z-index: 1;
	position: relative;
	border-radius: 15px;
}
.image_block_wrapper .image_sm img{
    height:100%;
    width:100%;
    border-radius:15px;
}


.roadmap_two .row{
    flex-direction:row-reverse;
  
}
.roadmap_two .image_block_wrapper{
    padding-left: 70px;
    @media (max-width:991px){
        padding-left:30px;
    }
    @media (max-width:767px){
        padding:0;
    }
}
.roadmap_two .image_block_wrapper .image_lg{
    padding-right:0px;
    padding-left: 60px;
    @media (max-width:991px){
        /* padding-left:0; */
    }
    @media (max-width:767px){
        padding:0;
    }
}
.roadmap_two .image_block_wrapper .image_sm{
    margin-right: auto;
    margin-left: initial;
}

.roadmap_two .content_wrapper{
    padding-left: 0;
     @media (max-width:991px){
        padding-right:30px;
     }

}

.content_wrapper{
    padding-left:90px;
    @media (max-width:991px){
        padding-left:30px;
    }
    @media (max-width:767px){
        padding:0;
    }
}
.content_wrapper .roadmap_icon{
    margin-bottom: 17px;
    @media (max-width:767px){
        display:none;
    }
}
.content_wrapper h4{
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
max-width: 424px;
color: #09001B;
margin-bottom: 17px;
@media (max-width:767px){
    max-width:100%;
    font-size: 32px;
}
}
.content_wrapper p{
max-width: 424px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #393148;
margin-bottom: 30px;
@media (max-width:767px){
    max-width:100%;
}

}




/* contact us css start here */
.contact_section{
    overflow: hidden;
    background: #fff;
}
.illustration_ui{
    position: relative;
    @media (max-width:991px){
        padding-top:70px;
    }
}
.illustration_ui img{
    margin-left: -280px;
    @media (max-width:991px){
        margin:0;
        display:none;
    }
}
.contact_title {
	position: absolute;
    z-index: 1;
    left: 0;
    top: 55%;
    max-width: 454px;
    transform: translateY(-50%);
    padding-top: 0;
    @media (max-width:991px){
        position: relative;
        transform:initial;
        top:initial;
        margin:auto;
        text-align:center;
    }
}
.contact_title h5{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color:var(--secondary);
}
.contact_title p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:var(--primary);

    }

.form_wrapper {
        @media (max-width:991px){
            max-width:700px;
            margin:auto;
            margin-top:50px;
            padding-bottom:70px;
        }
}
.form_wrapper .form-group {
    margin-bottom: 40px;
}
.form_wrapper .form-group:last-child{
    margin-bottom: 25px;
}
.form-group input, .form-group select{
    border: none;
    background: #fff;
    border-bottom: 1px solid #DBDBDB;
    height: 32px;
    width: 100%;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    padding-bottom: 7px;
    transition: 0.2s ease-in-out;
}
.form-group input:focus{
    border-color:var(--primary);
}
.form-group input::placeholder {
    color:var(--primary);
  }










/*footer css start here */
.cs_footer{
    background:url("../images/footer.jpg") no-repeat;
    width: 100%;
    background-size:cover;
    background-position: center;
}
.top_footer{
    padding-top: 53px;
    padding-bottom: 27px;
}
.top_footer .footer_logo{
    margin-bottom: 33px;
}
.top_footer .desc{
    max-width: 423px;
    font-size: 16px;
    color:var(--primary);
}
.footer_navbar_wrap{
    display: flex;
    @media (max-width:767px){
        padding-top:40px;
    }
}
.footer_navbar_wrap .social_links{
    min-width:312px;
    margin-left: auto;
    @media (max-width:1200px) {
            min-width:auto;
            width:70%;
            @media (max-width:767px){
                max-width:312px; 
            }
    }
}
.social_links .social_btn{
    margin-bottom: 15px;
}
.social_links .social_btn:last-child{
    margin-bottom: 0;
}
.social_links .social_btn a{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px;
    color:#323232;
    font-size: 16px; 
    transition: 0.2s ease-in-out;
}
.social_links .social_btn a:hover{
    transform: scale(1.04);
}
.social_links .social_btn .icon{
    margin-right: 12px;
}
.footer_navbar label{
    font-size: 16px;
    color:var(--primary);
    font-family: 'PP Neue Montreal Medium';
    padding-bottom: 13px;
}
.footer_navbar li{
    list-style: none;
    padding:13px 0;
}
.footer_navbar li:first-child{
    padding-top: 10px;
}
.footer_navbar li a{
    font-size: 16px;
    color:var(--primary);
    transition: 0.2s ease-in-out;
}
.footer_navbar li a:hover{
    color: var(--action);
}
.bottom_footer{
    border-top:1px solid #DBDBDB;
    padding: 23px 0 28px;;
}
.bottom_footer p{
    font-size: 16px;
    color:var(--primary);
}
